intro_section {
    opacity: 0.1;
    transform: translate(0, 0px); 
    font-size: 15.5px;
    transition: all 0.2s;
}
    
intro_section.visible {
    opacity: 1;
    size: 110%;
    transition: all .2s ease-in-out;
    font-size: 16px;
    transform: scale(1.1);
    transform: translate(0, 0); 
}

section {
    opacity: 0.1;
    transform: scale(0.8);
    transform: translate(0, 0px); 
    transition: all .2s;
    position: relative;
}
    
section.visible {
    opacity: 1;
    transition: all .2s ease-in-out;
    transform: scale(1.0);
    transform: translate(0, 0); 
}