/* GRAPHIC CODE */
.graphic {
	width: 50%;
	position: relative;
}

.graphic__beginning {
	/* width: 24rem; */
	/* font-family: 'Roboto Slab', serif; */
	font-family: 'Cormorant', serif;
	/* height: 100vh; */
	/* height: 800px; */
	color: #000000;
	padding: 30px;
	margin-left:150px;
	margin-right:150px;
	text-align: center;
	font-size: 20px;
}

.dynamic__text {
	/* width: 24rem; */
	/* font-family: 'Roboto Slab', serif; */
	font-family: 'Cormorant', serif;
	/* height: 100vh; */
	/* height: 800px; */
	color: #000000;
	padding: 30px;
	margin-left:150px;
	margin-right:150px;
	text-align: center;
	font-size: 20px;
}


.graphic__prose {
	width: 24rem;
	font-family: 'Roboto Slab', serif;
	font-family: 'Cormorant', serif;
	/* font-family: 'Julius Sans One', sans-serif; */
	color: #000000;
	padding: 20px;
	text-align: right;
	font-size: 20px;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;
	
}

.graphic__vis {
	padding: 20px;
	position: absolute;
	top: 0;
	margin-left: 23rem;
	margin-top: 60px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 80vh;
	width: 30vh;
  	width: 50%;
	align-self: left;
	text-align: center;
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

.graphic__vis svg {
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	transform: scaleX(50%);

}

.item circle {
	stroke: #fff;
	stroke-width: 1px;
	fill: #e8479f;
}

.item text {
	fill: #fff;
	font-size: 65%;
	text-anchor: middle;
	alignment-baseline: middle;

	text-shadow: 2px 2px black;
	text-shadow: 2px 2px #c4c0c0;

	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	font-family: 'Julius Sans One', sans-serif;

	cursor: default;
}

.bigText{
	font-size: 150% !important;
}

/* graph-scroll.js version */
.graphic__vis.graph-scroll-fixed {
	position: fixed;
	right: auto;
}

.graphic__vis.graph-scroll-below {
	top: auto;
	bottom: 0;
}