/* GRAPHIC CODE */
.graphic {
	width: 100%;
	position: relative;
}

.graphic__prose {
	/* width: 24rem; */
	font-family: 'Roboto Slab', serif;
	color: #000000;
	padding: 20px;
	text-align: center;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 240px;
	
}

.graphic__vis {
	padding: 20px;
	position: absolute;
	top: 0;
	/* margin-left: 30rem; */
	margin-top: 60px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	height: 100vh;

	display: block;
    margin-left: auto;
	margin-right: auto;
  	/* width: 50%; */
	align-self: center;
    text-align: center;
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

.graphic__vis svg {
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

}

.item circle {
	stroke: #fff;
	stroke-width: 1px;
	fill: #e8479f;
}

.item text {
	fill: #fff;
	font-size: 65%;
	text-anchor: middle;
	alignment-baseline: middle;
	text-shadow: 2px 2px black;
	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	cursor: default;
}

.bigText{
	font-size: 150% !important;
}



/* graph-scroll.js version */
.graphic__vis.graph-scroll-fixed {
	position: fixed;
	right: auto;
}

.graphic__vis.graph-scroll-below {
	top: auto;
	bottom: 0;
}