body {
  background-color: #fff;
  background-color: whitesmoke;
}

.chart{
  color:purple;
}

/* Title stuff */
.title {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Julius Sans One', sans-serif;

  font-size: 80px;
  padding: 0px;
  margin-top: 10px;
  color: black;
  color: #3f3f3f;
  text-align: center;
}

.subtitle {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  margin-top: 200px;
  color: black;
  color: #3f3f3f;

  text-align: center;
}

.section_header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  color: #3f3f3f;
  text-align: right;
}

.names {
  font-family: 'Roboto Slab', serif;
  font-family: 'Cormorant', serif;
  font-family: 'Julius Sans One', sans-serif;

  padding: 20px;
  color: black;
  color: #3f3f3f;

  text-align: center;
  /* margin-bottom: 200px; */
}

.arrow {
  text-align: center;
  animation: aggro_float 1s infinite;
}

.footer {
  
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Cormorant', serif;
  /* font-family: 'Julius Sans One', sans-serif; */

  font-size: 22px;
  padding: 20px;
  margin: 0px;
  color: black;
  text-align: center;
}

.container{
    width: 800px;
}

/* makes animation float */
@keyframes float {
    50%{
        transform: translateY(-10%);
    }
    /* from {background-color: #f7174c;}
    to {background-color: white;} */
}

/* for the arrow */
@keyframes aggro_float {
  50%{
      transform: translateY(-40%);
  }
}

.balloon_container {
  height: 500px;
  width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#toggle {
  width: 100px;
  height: 100px;
  background: #ccc;
}

.balloon {
  /* height: 1px;
  width: 1px; */
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-radius: 100%;
  /* background-color: #f7174c; */
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  /* top: 100px;
  left: 500px; */
  animation: float 2.5s infinite;
}

.balloon-text{

  animation: float 2.5s infinite;
}

/* 
@keyframes float {
  50%{
      transform: translateY(50px);
  }
  from {background-color: #f7174c;}
  to {background-color: white;}
} */

.element-to-hide{
  visibility:hidden; 
} 
.slideRight {
  visibility: visible;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out; 
}

/* reset stuff */
* {
    box-sizing: border-box;
  }
  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 75%;
    font: inherit;
    vertical-align: baseline;
  }

  strong{
    font-weight: bolder;
    text-decoration: underline;
  }

  category
  {
    text-decoration: underline;
  }

  p{
    margin: 7% 0%;
    display: block;
  }

  p2 {
    margin: 5% 0%;
    display: block;
  }




/* tooltip */
div.tooltip {	
    position: absolute;			
    text-align: center;			
    opacity: 50%;	
    font: 80% 'Roboto Slab', serif;
    font-family: 'Cormorant', serif;
    /* font-family: 'Julius Sans One', sans-serif;		 */
    background: white;		
    border-radius: 25px;
    /* border: 2px solid black;	 */
    pointer-events: none;	
    /* color: black; */

}

.treemap-text{
  pointer-events: none;
}

.tooltip #text{
  color: red;
}


svg{
  /* margin:100px; */
  /* background-color: rgb(250, 250, 250); */

}

.treemap{
  margin: 50px;
}

.circle:hover{
  background-color:blue;
}

rect{
  stroke:black;
  stroke: whitesmoke;
  background-color: yellow;
}

.treemaplabel{
  position: relative;
  top:0%;
  /* font-size: 30px; */
}

.treemap-text{
  font-family: 'Julius Sans One';
  text-shadow: 2px 2px black;
}

svg{
/*   border: 1px dashed black; */
}

.label{
  font-size: 70%;
}

.legendSequential{
  font-family: 'Roboto Slab', serif;
  font-family: 'Julius Sans One', sans-serif;

}

.fast{
  font-size: 50px;
}
